.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.set-list{
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;
}

.song-row{
  padding: 5px;;
}

.random-btn{
  margin: 20px;
  height: 60px;
  width: 180px;
  font-size: large;
}
.header{
  margin: 20px 20px 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.logo-img{
  width: 100%;

}